.clients__title {
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @extend %list;
}

.client__item {
  flex-basis: calc((100% - 30px) / 2);

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92px;
  border: 1px solid $color-icon;
  border-radius: 4px;
  color: $color-icon;

  @include transition(color, border-color);

  &:hover,
  &:focus {
    border-color: $color-text-accent;
    color: $color-text-accent;
  }
}

.client__icon {
  fill: currentColor;
}
