.hero {
  margin: 0 auto;
  min-height: 400px;
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: $gradient-bg, url('../images/hero/hero-mobile.jpg');
  background-color: #c4c4c4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: $gradient-bg, url('../images/hero/hero-mobile@2x.jpg');
  }

  @media screen and (min-width: $tablet) {
    background-image: $gradient-bg, url('../images/hero/hero-tablet.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $gradient-bg, url('../images/hero/hero-tablet@2x.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: $gradient-bg, url('../images/hero/hero.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $gradient-bg, url('../images/hero/hero@2x.jpg');
    }
  }
}

.hero__title {
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: $color-text-white;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  margin: 0 auto;
}
