.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 999;
  background-color: $color-text-white;

  transform: translateX(100%);
  transition: transform 250ms $function-cubic;

  &--is-open {
    transform: translateX(0);
  }
}

.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__links {
}
.mobile-menu__link {
}
