$color-text-primary: #757575;
$color-text-secondary: #212121;
$color-text-accent: #2196f3;
$color-text-white: #ffffff;
$color-icon: #afb1b8;
$color-bg-secondary: #f5f4fa;
$color-bg-dark: #2f303a;
$color-black: #000000;
$function-cubic: cubic-bezier(0.4, 0, 0.2, 1);

// Breakpoints

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
